In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("Advertising.csv")
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

## Train - Test Stplit

In [3]:
X = df.drop("sales", axis = 1)
y = df.sales

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

## Feature Scaling

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()

In [8]:
scaler.fit(X_train)

StandardScaler()

In [9]:
X_train = scaler.transform(X_train)

In [10]:
X_test = scaler.transform(X_test)

## Create Model

In [11]:
from sklearn.linear_model import Ridge

In [12]:
model = Ridge(alpha = 100)

## Cross Validation with cross_val_score

In [13]:
from sklearn.model_selection import cross_val_score

In [14]:
scores = cross_val_score(model, X_train, y_train, scoring="neg_mean_squared_error", cv=5)

In [15]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [16]:
abs(scores.mean())

8.215396464543609

In [17]:
model = Ridge(alpha = 1) ## Adjust model based on metrics

In [18]:
scores = cross_val_score(model, X_train, y_train, scoring="neg_mean_squared_error", cv=5)

In [19]:
abs(scores.mean())

3.344839296530696

In [20]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [21]:
y_final_test_pred = model.predict(X_test)

In [22]:
from sklearn.metrics import mean_squared_error

In [23]:
mean_squared_error(y_test,y_final_test_pred)

2.319021579428751

## Cross Validation with cross_validate

In [24]:
# CREATE X and y
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
from sklearn.model_selection import cross_validate

In [26]:
model = Ridge(alpha = 100)

In [27]:
scores = cross_validate(model, X_train, y_train, scoring = ["neg_mean_absolute_error", "neg_mean_squared_error"], cv=10)

In [28]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.001000,0.000999,-1.810212,-6.060671
1,0.001002,0.000000,-2.541958,-10.627031
2,0.000999,0.000000,-1.469594,-3.993426
3,0.000000,0.001000,-1.862769,-5.009494
4,0.001000,0.000000,-2.520697,-9.141800
5,0.001000,0.000000,-2.459995,-13.086256
6,0.001000,0.000000,-1.451971,-3.839405
7,0.000000,0.001000,-2.377395,-9.058786
8,0.000000,0.001000,-2.443344,-9.055457
9,0.001000,0.000000,-1.899797,-5.778882

In [29]:
scores.mean()

fit_time                        0.000700
score_time                      0.000400
test_neg_mean_absolute_error   -2.083773
test_neg_mean_squared_error    -7.565121
dtype: float64

In [30]:
model = Ridge(alpha=1) ## Adjust model based on metrics

In [31]:
scores = cross_validate(model, X_train, y_train, scoring = ["neg_mean_absolute_error", "neg_mean_squared_error"], cv=10)

In [32]:
scores = pd.DataFrame(scores)
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.001,0.001001,-1.457174,-2.962508
1,0.001,0.000000,-1.555308,-3.057378
2,0.000,0.001000,-1.238770,-2.173740
3,0.001,0.000000,-0.768938,-0.833034
4,0.001,0.000000,-1.434489,-3.464018
5,0.000,0.001001,-1.494316,-8.232647
6,0.000,0.001000,-1.081362,-1.905864
7,0.001,0.001000,-1.250011,-2.765048
8,0.000,0.001001,-1.580971,-4.989505
9,0.000,0.001000,-1.223326,-2.846438

In [33]:
scores.mean()

fit_time                        0.000500
score_time                      0.000700
test_neg_mean_absolute_error   -1.308467
test_neg_mean_squared_error    -3.323018
dtype: float64

In [34]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [35]:
y_final_pred = model.predict(X_test)

In [36]:
mean_squared_error(y_test,y_final_pred)

2.319021579428751